VITE_SUPABASE_URL=your_supabase_url
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjaHF3eG9hcXpkZmFsa2VpdHBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NjMxMDQsImV4cCI6MjA5NTUzOTEwNH0.XjIxVcgya-oviXzOlyNYqfafmbvapPVpchh3dwYplBo"
VITE_RESEND_API_KEY=your_resend_api_key
VITE_SUPABASE_URL=https://qchqwxoaqzdfalkeitpj.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_vt1viH8p6POzb5rMckVqeg_ZFbYvhUn